
:root {
  --color-main: #1B4767;
  --color-blue: #C1ECEC;
  --color-dark: #2c2c2c;
  --color-white: #fff;
  --color-gray: #989898;
  --color-red: #cb4444;
  --color-dark-red: #933737;
  --color-dark-stale-gray: #0e3649;
  --color-stale-gray: #4b5b6c;

  --color-card-hover: #eeeeee;
  --color-border: #686868;
  --bgc-dark: #1e2731;
  --color-list: #ecf5f8;
  --color-list-border: #dadfe0;


}
